<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>



  <body class="container">



  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Blog</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", articles_path, :class => "nav-link" %>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, { 'data-turbo-method': :delete, :class => "nav-link" } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, { :class => "nav-link" } %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, { :class => "nav-link" } %>
          </li>
        <% end %>
      </ul>
      <% if current_user %>
    <span class="navbar-text">
      Hello <%= current_user.role %>, <%= current_user.email %>
    </span>
      <% else %>
     <span class="navbar-text">
      you not signet in
    </span>
      <% end %>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
